body, html{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    text-align: center;
    background-image: url(../images/main_bg.jpg);
    background-position: center;
    background-size: cover;
   
    color: #fff;
    min-width: 320px;
    background-color: #1A191D;
    background-repeat: no-repeat;
    height: 100%;
}

/*resposive design grid*/
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
    float: left;
    padding: 15px;
   
}

.row::after {
    content: "";
    clear: both;
    display: table;
}


#logo {
    font-family: 'Advent Pro', sans-serif;
    font-size: 7em;
    -webkit-text-stroke: 1px black;
}

.orange{
    color: orange;
}

.container{
    margin-top:10%;
    left:60%;
   
}

nav {
    display: inline-block;
    
    width: 100%;
    padding: 15px;
     margin-top: = 0;
   
}

nav li{
    display: inline-block;
    color: #fff;
    padding: 10px;
    margin-left: 5px;
    list-style-type: none;
    float: right;
   
}
nav li a { 
 
  color: #ffffff; 
  text-align: right; 
  padding: 19px; 
  text-decoration: none; 

}

nav a:hover {
    border-bottom: 1px solid #fbeec1;
    
}

#user-icon {
    height: 20px;
    float: right;
}

#search {
    padding: 5px;
}

#search input{
    padding: 20px;
}

.searchBtn{
    font-size: 2em;
    background-color: orange;
    color: #fff;
    padding: 10px;
    margin: 10px;
}

.searchBtn:hover{
    background-color: yellowgreen;
}

#general-info{
font-size: 1.5em;
}

#search input {
    width: 60%;
}
/*Css for small screens*/

@media only screen and (max-width: 768px){
    nav li {
        float: right;
    }
nav li a { 
   display: inline-block;
    
   
    margin-right: 1%;
    width: 60%;
    text-decoration: none;
    }

nav a:hover {
    border-bottom: 1px solid #fbeec1;
    
}
   

    .container {
        width: 100%;
    }
}

/*Css for x-small screens*/

@media only screen and (max-width: 768px){
     .logo {
        font-size: 10px;
    }
}
